<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% if url is defined or url_b is defined %}../{% endif %}../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{% if url is defined or url_b is defined %}../{% endif %}../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<title>Gestor de Tareas</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{% if url is defined or url_b is defined %}../{% endif %}..//bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<h1 class="navbar-text pull-left">Gestor de Tareas</h1>
<p class="navbar-text pull-right">Framework Slim</p>
</nav>
{% if url is defined %}
<ol class="breadcrumb">
  <li><a href="http://localhost/frames/slim2/index.php">Inicio</a></li>
  <li class="active">  
  GET {{ url }}
  </li>
</ol>
  {% endif %}

{% if url_b is defined %}
<ol class="breadcrumb">
  <li><a href="http://localhost/frames/slim2/index.php">Inicio</a></li>
  <li class="active">  
  PUT {{ url_b }}
   </li>
</ol>
  {% endif %}
  
{% block content %}
{% endblock %}
</body>
</html>