{% extends "head.html" %}

{% block content %}

	<div class="container center-block" style="width:500px;">
	{% if editar is defined and editar == true %}
		<form action="#" method="post">
		<input type="hidden" name="_METHOD" value="PUT" />
	{% else %}
		<form action="#" method="post">
	{% endif %}
	
		<label for="nombre">Estado:</label>
		<br />
		<select name="estado" id="estado" class="form-control">
			<option {% if estado is defined and estado == 'Realizado' %} selected {% endif %}>Realizado</option>
			<option {% if estado is defined and estado == 'Pendiente' %} selected {% endif %}>Pendiente</option>
			<option {% if estado is defined and estado == 'En progreso' %} selected {% endif %}>En progreso</option>
		</select>
		<br /><br />
		<label for="descripcion">Descripci&oacute;n:</label>
		<br />
		<textarea name="descripcion" id="descripcion" class="form-control" rows="3">{% if descripcion is defined %}{{ descripcion }}{% endif %}</textarea>
		<br /><br />
		
		{% if editar is defined and editar == true %}
			<input class="btn btn-primary active pull-right" type="submit" name="submit" value="Actualizar" />
		{% else %}
			<input class="btn btn-primary active pull-right" type="submit" name="submit" value="A&ntilde;adir" />
		{% endif %}
	</form>
	</div>
{% endblock %}