{% extends "head.html" %}
{% block content %}
<div class="container">
<button class="btn btn-primary active pull-right" type="button" onclick="location.href='http://localhost/frames/slim2/index.php/insertar';">Añadir una nueva tarea</button>
<br /><br />

	{% for s in resultado %}
	<div class="pull-left {{ s.class }} text-center" style="width:200px; margin:15px;">
	<div style="height:70px;" onclick="location.href='tareas/{{ s.id }}';">
	{{ s.descripcion }}
	</div>
	<hr />
	<div class="pull-left">
	{{ s.estado }}
	</div>
	
	<form class="pull-right" style="margin-right:4px;" method="post" action="#">
	<button type="button" class="btn btn-default btn-sm" onclick="location.href='editar/{{ s.id }}';">
	<span class="glyphicon glyphicon-wrench"></span>
	</button>		
	<input type="hidden" name="_METHOD" value="DELETE"/>
	<input type="hidden" name="id" value="{{ s.id }}" />
	<button type="submit" name="submit" class="btn btn-default btn-sm" >
	<span class="glyphicon glyphicon-trash"></span>
	</button>
	</form>
	</div>
	{% endfor %}
</div>
{% endblock %}